.ui-dialog-titlebar-close {
  visibility: hidden;
}

.ui-dialog .ui-dialog-title{
	width: 100%;
}
.ui-dialog-title{
	float: none !important;
	display: block;
	width: 100%;
	text-align: center;
}

.ui-dialog-content{
	vertical-align: middle;
	text-align: center; 
}

.menu-content{
	position: absolute; 
	left: 50%;
}

.absCenter{
	position: relative;
	left: -50%;
	border: dotted red 1px;
}
.draggable-element{
	display: inline;
	margin: 0;
}

.tool{
	position: absolute;
	margin: 0;
}
