.ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog-title{
	float: none !important;
	display: block;
	text-align: center;
	width: 100% !important;
}

.ui-dialog-content{
	vertical-align: middle;
	text-align: center; 
}

.menu-content{
	position: absolute; 
	left: 50%;
}

.absCenter{
	position: relative;
	left: -50%;
}
.draggable-element{
	display: inline-block;
	margin: 0;
}

.tool{
	position: absolute;
	width: auto !important;
	background-color: orange !important;
}
.tool .ui-widget{
	font-size: 100% !important; 
}

.ui-icon
{
    background-image: url(http://code.jquery.com/ui/1.10.2/themes/smoothness/images/ui-icons_cd0a0a_256x240.png) !important;
}
